@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Superhero" asp-action="Index">Show me the table</a>

    <img src="/lib/Images/GreenLanternPowerBattery.jpg" alt="Hal Jordan Holding the Lantern, recharging his ring.">

</div>